							<article class="post">
								<header>
									<div class="title">
										<h2><a href="{{url}}">{{name}}</a></h2>
										<p>{{subhead}}</p>
									</div>
									<div class="meta">
										<time class="published">{{datepublished}}</time>
									</div>
								</header>
								{{#heroimage?}}<div style="max-height: 300px; overflow: hidden; margin-bottom: 20px;"><a href="/{{url}}" class="image"><img src="{{{image}}}" alt="{{{alt}}}" width="100%" /></a></div>{{/heroimage?}}
								{{{intro}}}
								<footer>
									<ul class="actions">
										<li><a href="{{url}}" class="button big">Continue Reading</a></li>
									</ul>
									<ul class="stats">
										{{#tags}}<li><a href="/tag/{{tag}}">{{tag}}</a></li>{{/tags}}
									</ul>
								</footer>
							</article>
