							<article class="post">
								<header>
									<div class="title">
										<h2><a href="{{url}}">{{name}}</a></h2>
										<p>{{subhead}}</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">{{datepublished}}</time>
										<a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
									</div>
								</header>
								<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
								{{{intro}}}
								<footer>
									<ul class="actions">
										<li><a href="{{url}}" class="button big">Continue Reading</a></li>
									</ul>
									<ul class="stats">
										{{#tags}}<li>{{tag}}</li>{{/tags}}
									</ul>
								</footer>
							</article>
