				<!-- Main -->
					<div id="main">

						<!-- Post -->
						{{#featured}}
							{{>article}}
						{{/featured}}


						

						<!-- Pagination -->
<!--
							<ul class="actions pagination">
								<li><a href="" class="disabled button big previous">Previous Page</a></li>
								<li><a href="#" class="button big next">Next Page</a></li>
							</ul>
-->
					</div>

