						<!-- Mini Posts -->
							<section>
								<div class="mini-posts">

									<!-- Mini Post -->
									{{#articles}}

										<article class="mini-post">
											<header>
												<h3><a href="/{{url}}">{{name}}</a></h3>
												<time class="published">{{datepublished}}</time>
											</header>
											{{#heroimage?}}<a href="/{{url}}" class="image"><img src="{{{image}}}" alt="{{{alt}}}" width="100%" /></a>{{/heroimage?}}
										</article>
									{{/articles}}

								</div>
							</section>
