						<!-- About -->
							<section class="blurb">
								{{#components}}
									{{#about?}}{{{content}}}{{/about?}}
								{{/components}}
								<ul class="actions">
									<li><a href="/about" class="button">Learn More</a></li>
								</ul>
							</section>
