						<!-- Mini Posts -->
							<section>
								<div class="mini-posts">

									<!-- Mini Post -->
									{{#articles}}

										<article class="mini-post">
											<header>
												<h3><a href="/{{url}}">{{name}}</a></h3>
												<time class="published">{{datepublished}}</time>
											</header>
											<a href="/{{url}}" class="image"><img src="/images/pic04.jpg" alt="" /></a>
										</article>
									{{/articles}}

								</div>
							</section>
