						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="/images/logo.jpg" alt="" /></a>
								<header>
									<h2>{{title}}</h2>
									<p>{{#components}}{{#subhead?}}{{{content}}}{{/subhead?}}{{/components}}</p>
								</header>
							</section>
